<div class="container">
    <div class="row">
        <a *ngFor="let folder of folders" [routerLink]="['/links']" [queryParams]="{ idFolder: folder.idFolder}"
            routerLinkActive="active">
            <div class="card" style="max-width: 15rem;">
                <div class="card-body">
                    <img src="../../../assets/Images/folder-icon.png" class="card-img-top" alt="Folder" />
                </div>
                <div class="card-footer">
                    <h5 class="card-title">{{folder?.folderName}}</h5>
                    <p class="card-text">{{folder?.description | slice:0:18}}</p>
                    <p class="card-text"><small class="text-muted">{{folder?.createdDate}}</small></p>
                </div>
            </div>
        </a>
    </div>
</div>