<div class="container">
    <div class="row">
        <div class="col">
            <div class="row" id="foldersCollection" cdkDropList [cdkDropListData]="filteredFolders" cdkDropListConnectedTo="detailsSection">
                <div *ngFor="let folder of filteredFolders" class="card" cdkDrag>
                    <div class="actions">
                        <i (click)="edit(folder._id);" class="fa fa-edit fa-2x"></i>
                        <i (click)="delete(folder);" class="fa fa-trash fa-2x"></i>
                    </div>
                    <a [routerLink]="['/links']" [queryParams]="{ idFolder: folder._id}" routerLinkActive="active">
                        <div class="card-body">
                            <img src="../../../assets/Images/folder-icon.png" class="card-img-top" alt="Folder" />
                        </div>
                    </a>
                    <a [routerLink]="['/links']" [queryParams]="{ idFolder: folder._id}" routerLinkActive="active">
                        <div class="card-footer">
                            <h5 class="card-title">{{folder?.folderName}}</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="divSticky">
                <div class="card details mx-auto" id="detailsSection" cdkDropList [cdkDropListData]="selectedFolder" (cdkDropListDropped)="drop($event)">
                    <div class="card-header">
                        Drag & Drop Details Section
                    </div>
                    <div class="card-body" style="text-align: center; height: 10rem;" *ngIf="dragMessage();">
                        Drag & Drop Something Here<br>
                        <i class="fa fa-arrow-circle-down fa-4x"></i>
                    </div>
                    <div *ngFor="let folder of selectedFolder">
                        <div class="card-body">
                            <div class="actions">
                                <i (click)="deleteSelectedFolder();" class="fa fa-minus-circle fa-2x" style="color: #e91e3afa;"></i>
                            </div>
                            <a [routerLink]="['/links']" [queryParams]="{ idFolder: folder._id}" routerLinkActive="active">
                                <div class="card-body">
                                    <img src="../../../assets/Images/folder-icon.png" class="card-img-top" alt="Folder" />
                                </div>
                            </a>
                        </div>
                        <a [routerLink]="['/links']" [queryParams]="{ idFolder: folder._id}" routerLinkActive="active">
                            <div class="card-footer">
                                <h5 class="card-title">{{folder?.folderName}}</h5>
                                <p class="card-text">{{folder?.description}}</p>
                                <small class="text-muted">Created At: {{folder?.createdAt}}</small><br>
                                <small class="text-muted">Updated At: {{folder?.updatedAt}}</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>