<div class="container">
    <div class="card mx-auto">
        <div class="card-header">
            <button class="btn btn-primary btn-lg btn-block" style="margin-right: 5px;" [routerLink]="['loginForm']" routerLinkActive="active">
                Login
            </button>
            <button class="btn btn-secondary btn-lg btn-block" [routerLink]="['registerForm']" routerLinkActive="active">
                Registro
            </button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
