<div class="container">
    <div class="row">
        <div class="col">
            <div class="row d-flex justify-content-center" id="LinksCollection" cdkDropList [cdkDropListData]="filteredLinks" cdkDropListConnectedTo="detailsSection">
                <div *ngFor="let link of filteredLinks" class="card" cdkDrag>
                    <div class="actions">
                        <i (click)="edit(link._id);" class="fa fa-edit fa-2x"></i>
                        <i (click)="delete(link);" class="fa fa-trash fa-2x"></i>
                    </div>
                    <a (click)="openLinks(link.URL);">
                        <div class="card-body">
                            <img src="assets/Images/question-icon2.png" class="card-img-top" alt="Folder" />
                        </div>
                    </a>
                    <a (click)="openLinks(link.URL);">
                        <div class="card-footer">
                            <h5 class="card-title">{{link?.title}}</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-4 d-none d-sm-block">
            <div class="divSticky">
                <div class="card details mx-auto" id="detailsSection" cdkDropList [cdkDropListData]="selectedLink" (cdkDropListDropped)="drop($event)">
                    <div class="card-header">
                        Drag & Drop Details Section
                    </div>
                    <div class="card-body" style="text-align: center; height: 10rem;" *ngIf="dragMessage();">
                        Drag & Drop Something Here<br>
                        <i class="fa fa-arrow-circle-down fa-4x"></i>
                    </div>
                    <div *ngFor="let link of selectedLink">
                        <div class="actions">
                            <i (click)="deleteSelectedLink();" class="fa fa-minus-circle fa-2x" style="color: #e91e3afa;"></i>
                        </div>
                        <a (click)="openLinks(link.URL);">
                            <div class="card-body">
                                <img src="assets/Images/question-icon2.png" class="card-img-top" alt="Folder" />
                            </div>
                        </a>
                        <a (click)="openLinks(link.URL);">
                            <div class="card-footer">
                                <h5 class="card-title">{{link?.title}}</h5>
                                <p class="card-text">{{link?.description}}</p>
                                <p class="card-text">{{link?.URL}}</p>
                                <small class="text-muted">Created At: {{link?.createdAt}}</small><br>
                                <small class="text-muted">Updated At: {{link?.updatedAt}}</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>