.container{
    margin-top: 2vh;
    max-width: 1300px;
}

.card{
    max-width: 14rem;
    margin: 1vh 0.5vw 0 0.5vw;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-body{
    padding-top: 2.25rem;
    padding-right: 1.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.25rem;
}

.details{
    max-width: 24rem;
}

.divSticky{
    position: sticky;
    top: 0;
}

a{
    text-decoration: none;
    color: #212529;
    cursor: pointer;
}

.buttons-directory{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 3vw 3vw 0;
}

.actions{
    position: absolute;
    right: 0;
    margin: 0.5rem 0.5rem 0 0;
}

.actions > i {
    cursor: pointer;
    margin: 0 0.1rem 0 0.1rem;
    color: #3B4044;
}