<div class="container">
    <div class="row">
        <a *ngFor="let link of links" routerLink="/login" routerLinkActive="active">
            <div class="card" style="max-width: 15rem;">
                <div class="card-body">
                    <img src="../../../assets/Images/question-icon.png" class="card-img-top" alt="Folder" />
                </div>
                <div class="card-footer">
                    <h5 class="card-title">{{link?.title}}</h5>
                    <p class="card-text">{{link?.description | slice:0:35}}</p>
                    <p class="card-text"><small class="text-muted">{{link?.createdDate}}</small></p>
                </div>
            </div>
        </a>
    </div>
</div>