<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <form #folderAdd="ngForm" (submit)="addFolder(folderAdd);">
                <div class="card">
                    <div class="card-header">
                        <h3>Add Folder</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Folder Name</label>
                            <input type="text" id="nameFolder" class="form-control" placeholder="Enter Folder Name"
                            name="folderName" [(ngModel)]="folderData.folderName" #folderName="ngModel" minlength="4" pattern="[a-zA-Z0-9 ]*" (keyup)="validatorFolderName()" required/>
                        </div>
                        <div *ngIf="folderName.invalid && (folderName.dirty && folderName.touched)" class="alert alert-danger">
                            <div *ngIf="folderName.errors.minlength">Minimum length is 4</div>
                            <div *ngIf="folderName.errors.pattern">Only Letters and Numbers</div>
                            <div *ngIf="folderName.errors.required">Enter a folder name</div>
                        </div>

                        <div id="existFN" class="alert alert-danger" style="display: none;">
                            
                        </div>

                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="3" placeholder="Enter a description"
                            name="description" [(ngModel)]="folderData.description" #description="ngModel" minlength="4" pattern="[a-zA-Z0-9 ]*" required></textarea>
                        </div>
                        <div *ngIf="description.invalid && (description.dirty && description.touched)" class="alert alert-danger">
                            <div *ngIf="description.errors.minlength">Minimum length is 4</div>
                            <div *ngIf="description.errors.pattern">Only Letters and Numbers</div>
                            <div *ngIf="description.errors.required">Enter a description</div>
                        </div>
                    </div>
                    <div class="card-footer"></div>
                    <button type="submit" [disabled]="!folderAdd.form.valid" class="btn btn-success">Add Folder</button>
                </div>
            </form>
        </div>
        <div class="col-sm-6 mx-auto">
            <form #linkAdd="ngForm" (submit)="addLink(linkAdd);">
                <div class="card">
                    <div class="card-header">
                        <h3>Add Link</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Folder</label>
                            <select name="SelectedFolder" [(ngModel)]="linkData.idFolder" #SelectedFolder="ngModel" class="form-control" required>
                                <option disabled>Select a Folder</option>
                                <option *ngFor="let folder of folderInfo" value="{{folder.idFolder}}">{{folder.folderName}} || Folder ID: {{folder.idFolder}}</option>
                            </select>
                        </div>
                        <div *ngIf="SelectedFolder.invalid && (SelectedFolder.dirty || SelectedFolder.touched)" class="alert alert-danger">
                            <div *ngIf="SelectedFolder.errors.required">Select a Folder</div>
                        </div>

                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" placeholder="Enter a Title"
                            name="title" [(ngModel)]="linkData.title" #title="ngModel" minlength="4" pattern="[a-zA-Z0-9 ]*" required/>
                        </div>
                        <div *ngIf="title.invalid && (title.dirty && title.touched)" class="alert alert-danger">
                            <div *ngIf="title.errors.minlength">Minimum length is 4</div>
                            <div *ngIf="title.errors.pattern">Only Letters and Numbers</div>
                            <div *ngIf="title.errors.required">Enter a Title</div>
                        </div>
                        
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="3" placeholder="Enter a description"
                            name="descriptionlink" [(ngModel)]="linkData.description" #descriptionlink="ngModel" minlength="4" pattern="[a-zA-Z0-9 ]*" required></textarea>
                        </div>
                        <div *ngIf="descriptionlink.invalid && (descriptionlink.dirty && descriptionlink.touched)" class="alert alert-danger">
                            <div *ngIf="descriptionlink.errors.minlength">Minimum length is 4</div>
                            <div *ngIf="descriptionlink.errors.pattern">Only Letters and Numbers</div>
                            <div *ngIf="descriptionlink.errors.required">Enter a description</div>
                        </div>

                        <div class="form-group">
                            <label>URL</label>
                            <textarea class="form-control" rows="3" placeholder="Enter an URL" name="linkurl" [(ngModel)]="linkData.URL"
                                #linkurl="ngModel" minlength="4"
                                pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})"
                                required></textarea>
                        </div>
                        <div *ngIf="linkurl.invalid && (linkurl.dirty && linkurl.touched)" class="alert alert-danger">
                            <div *ngIf="linkurl.errors.pattern">Format Incorrect</div>
                            <div *ngIf="linkurl.errors.minlength">Enter something</div>
                            <div *ngIf="linkurl.errors.required">Enter an URL</div>
                        </div>
                    </div>
                    <div class="card-footer"></div>
                    <button type="submit" [disabled]="!linkAdd.form.valid" class="btn btn-success">Add Link</button>
                </div>
            </form>
        </div>
    </div>
</div>